/* App.css */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-end;
  background-color: #f0f4f8;
}

/* Feed with light grey background and watermark text */
.feed {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  padding: 10px;
  background-color: #e8e8e8;
  border-bottom: 1px solid #ccc;
  width: 100%;
  position: relative;
}

/* General post styling */
.post {
  padding: 10px 15px;
  margin: 5px;
  border-radius: 20px;
  max-width: 80%;
  color: #333;
  position: relative;
  z-index: 1;
  color: white;
}

/* Username input field */
.username-input {
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.username-input input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 1.1em;
}

/* Input container fixed at the bottom */
.post-input {
  display: flex;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ccc;
  position: sticky;
  bottom: 0;
  width: 100%;
}

.post-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 1.1em;
}

.post-input button {
  padding: 10px 20px;
  background-color: #add8e6; /* Light blue color */
  color: white;
  border: none;
  border-radius: 25px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.post-input button:hover {
  background-color: #87ceeb;
}